@layer skeleton {
	@font-face {
		font-family: 'Inter';
		src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
	}
	
	@font-face {
		font-family: 'Inter';
		font-style: italic;
		src: url('../fonts/Inter-Italic-VariableFont_opsz,wght.ttf');
	}
}